<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RSVP - Dr. Bola Talabi Reese 80th Birthday</title>
    <style>
        body {
            font-family: 'Skia', sans-serif;
            margin: 0;
            padding: 20px;
            background-color: #f4f4f4;
            color: #333;
        }

        .email-container {
            background-color: #ffffff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            max-width: 600px;
            margin: 0 auto;
        }

        .heading {
            text-align: center;
            font-size: 24px;
            color: #2c3e50;
        }

        .confirmation-message {
            text-align: center;
            font-size: 18px;
            color: #333;
            margin-top: 20px;
        }

        .event-details {
            margin-top: 20px;
            text-align: center;
            font-size: 16px;
        }

        .footer {
            margin-top: 40px;
            text-align: center;
            font-size: 14px;
            color: #777;
        }

        .add-to-calendar {
            display: inline-block;
            margin-top: 15px;
            padding: 10px 15px;
            background-color: #72612f;
            color: #ffffff;
            text-decoration: none;
            border-radius: 4px;
            font-weight: bold;
        }

        .change-your-mind {
            display: inline-block;
            margin-top: 20px;
            color: #7a7272;
            font-weight: bold;
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="email-container">
        <h2 class="heading">RSVP - Dr. Bola Talabi Reese 80th Birthday</h2>

        <div class="confirmation-message">
            <p>Dear <%= name %>,</p>
            <p>Thank you for your response. We understand that you will not be able to attend Dr. Bola Talabi Reese's
                80th birthday celebration. We're sorry that you won't be joining us, but we appreciate your
                consideration.</p>
            <p>If you change your mind and would like to attend, simply click the link below to update your RSVP:</p>
        </div>

        <div class="event-details">
            <p><strong>Event:</strong> Dr. Bola Talabi Reese 80th Birthday Celebration</p>
            <p><strong>Date:</strong> December 21, 2024</p>
            <p><strong>Time:</strong> 2:00 PM - 7:00 PM</p>
            <p><strong>Venue:</strong> The Lamplighter Restaurant, 6566 Route 22, Delmont PA 15626, USA</p>
        </div>

        <div class="confirmation-message">
            <a href="https://mapraiz-rsvp.vercel.app/invite/?type=guest&kpk=<%= token %>" target="_blank"
                class="change-your-mind">Change your mind?</a>
        </div>

        <div class="footer">
            <p>Organized by Mapraiz LLC</p>
        </div>
    </div>
</body>

</html>